@{
    ViewData["Title"] = "Characters";
}

@model List<Marvel.Models.Marvel.Character>

<div class="container h-100">
    <div class="row h-100 overflow-auto">
        <div class="col-3">
            <ul class="list-group">
                @foreach(var character in Model)
                {
                    <partial name="ListElement" model="character" />
                }
            </ul>
        </div>
        <div class="col">

        </div>
    </div>
</div>