@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<li class="list-group-item list-group-item-action">
    <div class="row w-100">
        <div class="col-3">
            <img src="@Model.thumbnailUrl()" style="width:50px;height:50px;" alt="@Model.name">
        </div>
        <div class="col">
            <span class="ms-1">@Model.name</span>
        </div>
    </div>
</li>
